body{
	background-color: black;
}
#title{
	color: orange;
	font-size: 3.5em;
	font-family: "papyrus";
	width: 300px;
	margin: 0 auto;
}
td{
	border: 1px solid white;
	width: 100px;
	height: 100px;
	color: white;
}
#playButton{
	width: 100px;
	font-size: 2em;
	position: relative;
	left: 40%;

}
#gameBoard{
	margin: 0 auto;
}
#gameStatus{
	width: 185px;
	color: white;
	margin:0 auto;
}
#wrapper{
	border: 3px solid orange;
	height: 500px;
	width: 600px;
	margin: 0 auto;
}
#nextGame{
	display: inline-block;
	width: 130px;
	height: 20px;
	margin: 0 auto;
}
#restart{
	display: inline-block;
	width: 130px;
	height: 20px;
	margin: 0 auto;
}
#score{
	margin-top: 40px;
	font-family: "papyrus";
	padding: 10px;
	border: 1px solid white;
	float: left;
	color: black;
	width: 130px;
	background-color: orange;
}
@media screen and (max-width: 980px) {

	#wrapper{
		margin-left: 200px;
	}
}


